*{
    margin: 0;
    padding: 0;
    
}

body{
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.container{
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.container .img_1{
    position: absolute;
    height: 110%;
    width: 110%;
    object-fit: cover;
    z-index: 1;
    mix-blend-mode: lighten;
    
    animation: 3s video_ustoz ease forwards;
}
.container video{
    position: absolute;
  object-fit: cover;
    height: 110%;
    width: 110%;
    animation: 3s video_ustoz ease, animation_ustoz  3s  ease infinite alternate-reverse ;
}
@keyframes video_ustoz {
    form{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes animation_ustoz{
    
    from{
        transform: rotateZ(3deg);
    }
    to{
        transform: translate(0);
    }
}
@keyframes